html,
body{
  height: 100%;
}

.body_chat .message_list{
  overflow-y: scroll;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-end;*/
}
.message.collection-item .text div{
  word-break: break-all;
}
#sidenav-overlay{
  z-index: 1;
}
nav{
  background-color: #464646;
}
#message_div {
  width: 50%;
  min-height: 4em;
  margin: 1em auto;
  border: 1px solid #ccc;
}

div.validate {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  min-height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 10px 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
div.validate:focus:not([readonly])+label{
  color: #26a69a;
  font-size: .8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}
div.validate:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

@media (max-width: 768px) {
  #toast-container {
    top: 0 !important;
    right: auto !important;
    bottom: auto;
    left:7%;
  }
}