html,
body{
  height: 100%;
}

.body_chat .message_list{
  overflow-y: scroll;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-end;*/
}
#sidenav-overlay{
  z-index: 1;
}
nav{
  background-color: #464646;
}

@media (max-width: 768px) {
  #toast-container {
    top: 0 !important;
    right: auto !important;
    bottom: auto;
    left:7%;
  }
}